COMPOSE_EXPERIMENTAL_GIT_REMOTE=true

LOGLEVEL=1
IS_STAGING=1

S3_BUCKET=toadreader
AWS_ENDPOINT=http://minio:9000
AWS_KEY=7Mqdul4kD3QO0NDaFxkY
AWS_SECRET=dKAUAJLPjjrMmoOgaq8Ya6vxR2eALFZQNP7pgTYl
AWS_REGION=us-east-1
CLOUDFRONT_KEY_PAIR_ID=dummy
CLOUDFRONT_PRIVATE_KEY=dummy

APP_URL=toadreader.com  # FIXME this should be the Expo web URL
RDS_HOSTNAME=mysql
RDS_PORT=3306
RDS_USERNAME=ToadReader
RDS_PASSWORD=ToadReader
RDS_DB_NAME=ToadReader

WHITELISTED_EMAILS=someone@toadreader.com

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
