node_modules

.DS_Store
.env*
!.env-example
!.env-example.standalone
.git

.npmrc
.serverless

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Temporary files
tmp_epub_*

# husky
.husky/_
