<html>
  <head>
    <title>{{page_title}}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{{favicon_url}}" rel="shortcut icon" />

    <meta property="og:url" content="{{url_noquotes}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page_title}}" />
    <meta property="og:description" content="{{quote_noquotes}}" />
    <meta property="og:image" content="{{book_image_url}}" />

    <link rel="stylesheet" href="/assets/style/share-page.css" />
    <script src="/assets/js/share-page.browser.js" defer></script>
  </head>

  <body>
    <div class="cont">
      <div class="quote">{{quote}}</div>
      <div class="sharing">
        <span class="share-text">{{share}}</span>
        <button class="copy-url" data-url="{{url_noquotes}}">
          {{copy_link}}
          <div class="copy-url-copied">{{copied}}</div>
        </button>
        <a
          class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text={{note_abridged_escaped}}&url={{url_escaped}}"
          target="_blank"
          rel="noopener noreferrer"
          >Post</a
        >
      </div>
      <div class="book-cont">
        <div class="book">
          <div
            class="book-image"
            style="background-image:url({{book_image_url}})"
          ></div>
          <div class="book-info">
            <div class="book-title">{{book_title}}</div>
            <div class="book-author">{{book_author}}</div>
            <a href="{{read_here_url}}"
              ><button class="book-read {{read_class}}">
                {{read_here}}
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="sharer {{sharer_class}}">
        <div class="sharer-heading">{{comment}}</div>
        <div class="sharer-note">{{sharer_note}}</div>
        <div class="sharer-name">{{sharer_name}}</div>
      </div>
    </div>
  </body>
</html>
